<h3>To do Django UB Social</h3>

<!--Informar isso após 25-->
<form method="POST" action="/">
    {% csrf_token %}
    {{form}} <!--Se informar {{form.title}} aparecerá somente title para o form-->
    <input type="submit" name="Create Task">
</form>
<!---->

<!--Informar isso após item 22 em diante-->
{% for task in tasks %}
    <div>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
        <!--Antes dos itens abaixo, havia somente {{task}}-->
        {% if task.complete == True %}
            <s>{{task}}</s>
        {% else %}
            <span>{{task}}</span>
        {% endif %}
    </div>
{% endfor %}
<!---->